* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins";
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

img {
    max-width: 100%;
    border-radius: 3%;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-left: 20px;
    text-transform: uppercase;
}


#intro .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.images img:nth-child(1) {
    grid-column: 1 / 4;
}

h1 {
   font-size: 2.027rem; 
}

#text a:link{
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 4px;
    margin-top: auto;
    padding: 10px;
}

#thedough {
    background-color: #f8fafc;
    
}

h2 {
    font-size: 1.802rem;
}


#quotes {
    background-color: #000;
    color: #fff;
    
}

blockquote {
    margin: 0;
}


h2 {
    text-align: center;
}


#quotes .blockquotes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h3 {
    font-size: 1.266rem;
}

#try .try {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    text-align: center;

}

#try article{
    background-color: #f8fafc;
    border-radius: 5%;
}

.try img {
    border-radius: 3% 3% 0 0;
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 5px;
}

@media (min-width: 768px) {
    #intro .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }
    .images img:nth-child(1){
        grid-column: 1/1;
    }

    #thedough .thedough {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    
    #quotes .blockquotes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    #try .try {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 960px) {
    #intro .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }





}


